<div>
  <!-- Home page welcoming logged in user -->
  <h1>Welcome Libraire {{ user.username }}!</h1>
  <!-- display user group -->
  <p>You are a {{ user.groups.all.0.name }}.</p>
  {% if user.is_authenticated %}      
  <!-- redirect to logout page -->
  <div>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
  <!-- link to new genre page -->
  <div>
    <a href="{% url 'new_genre' %}">Add a new genre</a>
  </div>
  <!-- link to new editor page -->
  <div>
    <a href="{% url 'new_editor' %}">Add a new editor</a>
  </div>
  <!-- link to new author page -->
  <div>
    <a href="{% url 'new_author' %}">Add a new author</a>
  </div>
  <!-- link to new book page -->
  <div>
    <a href="{% url 'new_book' %}">Add a new book</a>
  </div>
  <!-- link to new library location page -->
  <div>
    <a href="{% url 'new_library_location' %}">Add a new library location</a>
  </div>
  <!-- link to new library page -->
  <div>
    <a href="{% url 'new_library' %}">Add a new library</a>
  </div>
  {% endif %}
</div>