{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'messages.html' %}
<div>
  <h1>Welcome Libraire {{ user.username }}!</h1>
  <p>You are a {{ user.groups.all.0.name }}.</p>
  {% if user.is_authenticated %}      
  <div>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
  <div>
    <a href="{% url 'new_genre' %}">Add a new genre</a>
  </div>
  <div>
    <a href="{% url 'new_editor' %}">Add a new editor</a>
  </div>
  <div>
    <a href="{% url 'new_author' %}">Add a new author</a>
  </div>
  <div>
    <a href="{% url 'new_book' %}">Add a new book</a>
  </div>
  <div>
    <a href="{% url 'new_library_location' %}">Add a new library location</a>
  </div>
  <div>
    <a href="{% url 'new_library' %}">Add a new library</a>
  </div>
  <div>
    <a href="{% url 'new_book_in_library' %}">Add a new book in library</a>
  </div>
  <div>
    <a href="{% url 'my_libraries' %}">View my libraries</a>
  </div>
  <div>
    <a href="{% url 'pending_rent_requests' %}">View pending rent requests</a>
  </div>
  <div>
    <a href="{% url 'update_rent_requests' %}">View rented books</a>
  </div>
  <div>
    <a href="{% url 'late_rent_requests' %}">View late book rentals</a>
  </div>
  <div>
    <a href="{% url 'pending_reading_group_requests' %}">View pending reading group requests</a>
  </div>
  {% endif %}
</div>