{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'messages.html' %}
<div>
  <h1>Welcome to BookRentor BookSeller!</h1>
  <p>
    BookRentor is a web application that allows you to rent books from
    your local library.
  </p>
  <p>
    If you are a librarian, you can register an account and add books
    to your library.
  </p>
  <p>
    If you are a client go to the home page <a href="/client">here</a>
  </p>
  <p>
    If you already have an account, <a href="{% url 'login' %}">Login</a>
  </p>
  <p>
    If you don't have an account, <a href="{% url 'register' %}">Register</a>
  </p>
</div>