{% include 'header.html' %}
{% if libraries|length == 0 %}
  <p>You don't have any library yet.</p>
  <a href="{% url 'new_library' %}">Add a new library</a>
{% else %}
<h1>My libraries</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">More details</th>
      <th scope="col">Reading groups</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for library in libraries %}
      <tr>
        <td>{{ library.name }}</td>
        <td>{{ library.location }}</td>
        <td>
          <a href="{% url 'library' library.id %}">See books</a>
        </td>
        <td>
          <a href="{% url 'library_reading_groups' library.id %}">See reading groups</a>
        </td>
        <td>
          <a href="{% url 'edit_library' library.id %}" class="btn btn-primary">Edit</a>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}