{% include 'header.html' %}
{% if library_locations|length == 0 %}
  <p>There are no library_locations in the database.</p>
{% else %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for library_location in library_locations %}
        <tr>
          <td>{{ library_location.name }}</td>
          <td>
            <a href="{% url 'edit_library_location' library_location.id %}">Edit</a>
          </td>
          <td>
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="location_id" value="{{ library_location.id }}">
              <button class="btn btn-link" type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
