{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h1>Rent requests</h1>
<!-- display rent requests -->
{% for rent_request in rent_requests %}
<p>
  {{ rent_request }}
  <!-- {{ rent_request.book.title }}
  {{ rent_request.book.id }}
  {{ rent_request.user.username }}
  {{ rent_request.user.id }}
  {{ rent_request.status }} -->
</p>
<!-- button to accept a rent request -->
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="book_id" value="{{ rent_request.book.id }}">
  <input type="hidden" name="user_id" value="{{ rent_request.user.id }}">
  <button class="btn btn-primary" type="submit">Accept</button>
</form>
<!-- button to reject a rent request -->
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="book_id" value="{{ rent_request.book.id }}">
  <input type="hidden" name="user_id" value="{{ rent_request.user.id }}">
  <button class="btn btn-primary" type="submit">Reject</button>
</form>
{% endfor %}

{% endblock %}
