{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'messages.html' %}
<h1>Rent requests</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Request</th>
      <th scope="col">Accept</th>
      <th scope="col">Reject</th>
    </tr>
  </thead>
  <tbody>
    {% for rent_request in rent_requests %}
    <tr>
      <td>{{ rent_request }}</td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ rent_request.user.id }}">
          <input type="hidden" name="book_id" value="{{ rent_request.book.id }}">
          <input type="hidden" name="library_id" value="{{ rent_request.library.id }}">
          <input type="hidden" name="quantity" value="{{ rent_request.quantity }}">
          <input type="hidden" name="accepted" value="True">
          <button class="btn btn-primary" type="submit">Accept</button>
        </form>
      </td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ rent_request.user.id }}">
          <input type="hidden" name="book_id" value="{{ rent_request.book.id }}">
          <input type="hidden" name="library_id" value="{{ rent_request.library.id }}">
          <input type="hidden" name="quantity" value="{{ rent_request.quantity }}">
          <input type="hidden" name="accepted" value="False">
          <button class="btn btn-primary" type="submit">Reject</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
