{% include 'header_client.html' %}
<div>
  <h1>Welcome Client {{ user.username }}!</h1>
  <p>You are a {{ user.groups.all.0.name }}.</p>
    <div>
      <a href="{% url 'logout_client' %}">Logout</a>
    </div>
    <div>
      <a href="{% url 'library_list' %}">View Libraries</a>
    </div>
    <div>
      <a href="{% url 'rent_request_list' %}">My rent requests</a>
    </div>
    <div>
      <a href="{% url 'reading_group_request_list' %}">My reading group requests</a>
    </div>
    <div>
      <a href="{% url 'search_book' %}">Search a book</a>
    </div>
    <div>
      <a href="{% url 'channels_client' %}">Conversations</a>
    </div>
    {% if books_rented|length == 0 %}
      <p>You have no rented books.</p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Request</th>
            <th scope="col">Return date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for book_rented in books_rented %}
            <tr>
              <td>{{ book_rented.user_rented_book }}</td>
              <td>
                {{ book_rented.return_date }}
              </td>
              <td>
                {% if book_rented.return_date < today %}
                  <p>EN RETARD</p>
                {% else %}
                  <p>{{ book_rented.days_left }} days left</p>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {%if reading_groups|length == 0 %}
      <p>You have no reading group</p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Request</th>
            <th scope="col">Date</th>
            <th scope="col">Countdown</th>
          </tr>
        </thead>
        <tbody>
          {% for reading_group in reading_groups %}
            <tr>
              <td>{{ reading_group.group.name }}</td>
              <td>
                {{ reading_group.group.date }}
              </td>
              <td>
                <!-- count days between today and reading group date -->
                {{ reading_group.group.days_left }} days left
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
