{% include 'messages.html' %}
<h1>Reanding group in the library {{ library.name }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Book</th>
      <th scope="col">Date</th>
      <th scope="col">Hour</th>
      <th scope="col">Limit</th>
      <th scope="col">Join</th>
    </tr>
  </thead>
  <tbody>
    {% for reading_group in reading_groups %}
    <tr>
      <td>{{ reading_group.name }}</td>
      <td>{{ reading_group.book }}</td>
      <td>{{ reading_group.date }}</td>
      <td>{{ reading_group.hour }}</td>
      <td>{{ reading_group.limit }}</td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="reading_group_id" value="{{ reading_group.id }}" />
          <input type="submit" class="btn btn-primary" value="Join" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>