{% include 'messages.html' %}

{% if rent_requests|length == 0 %}
  <p>You have no rented books.</p>
{% endif %}
{% if rent_requests|length > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Request</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for rent_request in rent_requests %}
      <tr>
        <td>{{ rent_request }}</td>
        <td>
          {% if rent_request.status == 'PENDING' %}
          En attente
        {% elif rent_request.status == 'ACCEPTED' %}
          Accepté
        {% elif rent_request.status == 'REJECTED' %}
          Rejeté
        {% elif rent_request.status == 'RETURNED' %}
          Retourné
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</tbody>
</table>